<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body class="container">
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">trang chu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/shop">san pham</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/addnew">them san pham</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>
        <main>
            <form form class="product-form" action="/addnew" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label class="form-label">ten san pham</label>
                  <input type="text" class="form-control"  name="productName">
                </div>
                <div class="mb-3">
                  <label  class="form-label">gia</label>
                  <input type="number" class="form-control" name="price">
                </div>
                <div class="mb-3">
                  <label  class="form-label">mo ta</label>
                  <textarea  class="form-control" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label  class="form-label">hinh anh</label>
                    <input type="file" class="form-control" name="productImage">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
