<%- include('headerClient.ejs') %>
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="/img/banner/Books.jpg" alt="" height="600px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Dybook là ai ?</h4>
                    <p>Dybook là một trang web bán sách trực tuyến với một bộ sưu tập đa dạng các loại sách từ văn học, khoa học,
                         kinh doanh đến sách thiếu nhi và sách giáo khoa. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Dybook làm được gì ?</h4>
                    <p>Dybook cung cấp cho người đọc trải nghiệm mua sắm sách trực tuyến thuận tiện và đáng tin cậy. Bạn có thể tìm thấy những cuốn sách mới nhất, 
                        các tác phẩm kinh điển và cả những tựa sách bán chạy nhất trên Dybook.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Tại sao phải chọn Dybook</h4>
                    <p>Dybook cũng cung cấp các dịch vụ giao hàng nhanh chóng và hỗ trợ khách hàng nhiệt tình, 
                        giúp bạn có được những cuốn sách yêu thích một cách dễ dàng.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>“Sách không chỉ mang lại kiến thức mà còn làm cho tâm hồn ta bay bổng và đắm chìm trong những câu chuyện đầy sinh động”
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="/img/banner/books2.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<%- include('footerClient.ejs') %>