<%- include('../headerAdmin.ejs') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thêm danh mục</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form >
                    <div class="col-md-8 position-relative">
                      <label for="validationTooltip01" class="form-label">Tên danh mục</label>
                      <input type="text" class="form-control" id="nameCate" required>
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-12 mt-4">
                      <button class="btn btn-dark" type="submit" id="btnAddCate">Cập nhật</button>
                      <a href="/admin/category" class="btn btn-dark" >Danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../footerAdmin.ejs') %>