<%- include('headerClient.ejs') %>
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/img/banner/banner3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h2 style="color: white;">Thế giới sách diệu kì</h2>
                            <p style="color: antiquewhite;">Mang đến một thế giới diệu kì qua từng trang sách </p>
                            <a href="#" class="primary-btn">Mua ngay<span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/img/banner/Bookaesthetic.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h2 style="color: white;">Thế giới sách diệu kì</h2>
                            <p style="color: antiquewhite;">Mang đến một thế giới diệu kì qua từng trang sách </p>
                            <a href="#" class="primary-btn">Mua ngay<span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product spad ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li >Sản phẩm mới</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter" id="productLient"></div>
        <div id="pagination" class="pagination" style="height: 50px;"></div>
    </div>
</section>
<%- include('footerClient.ejs') %>